* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}


.main {
    background-image: url(PK-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_9518779d-a814-4eb7-9722-f5f5b1854cdd_medium.jpg);
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'mertal sans' sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    text-align: center;
}


.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

/* .hero :nth-child(4) {
    display: flex;
    font: weight 1px;
    height: 50px;
} */

.separation {
    height: 7px;
    background-color: rgb(71, 70, 70);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main input {
    padding: 14px 70px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    min-width: 16px;
    min-height: 16px;
    font-weight: 900;
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 77vw;
    margin-top: 120px;
    margin-bottom: 120px;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    width: 320px;
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faqbox {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    display: flex;
    transition: all 0.1s ease-out;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 80vw;
    margin: 8px auto;
    cursor: pointer;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    display: flex;
    background-color: gray;
    padding: 34px;
}


.faq h2 {
    background-color: black;
    color: white;
}

.footer {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;

}

.footer a {
    text-decoration: none;
    color: white;
}

footer span {
    margin: 2px 30vw;
    color: white;
    text-align: center;
}